.fundraiser-card {
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  width: 500px;
  background-color: #2e2e2e;
  color: white;
  overflow: hidden; /* Ensure content doesn't overflow */
  transition: height 0.3s ease, max-height 0.3s ease; /* Smooth transition for height */
}

.fundraiser-card.collapsed {
  height: 130px; /* Set the collapsed height */
}

.fundraiser-card.expanded {
  height: 1000; /* Set the height to auto when expanded */
}


.card-header {
    margin-bottom: 5px;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 0;
    text-align: center;
}

.card-description {
    font-size: 12px;
    color: white;
    margin: 0;
    text-align: center;
}

.goal-info {
    font-size: 12px;
    color: #56e39f;
    text-align: center;
    margin-top: 0px; /* Spacing between description and goal info */
}

.progress-bar-container {
    background-color: #56e39F;
    height: 10px;
    border-radius: 10px;
    margin: 10px auto; /* Center horizontally and add spacing */
    overflow: hidden;
    display: flex;
}

.progress-bar {
    background-color: #56e39f;
    height: 100%;
    transition: width 0.5s ease;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}
