.app {
    display: flex;
    background-color: #2e2e2e;
    color: #ffffff;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
  }
  
  /* Main content layout */
  .main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  /* Overlay Panel Styles */
/* Overlay Panel Styles */
/* Adjusting the overlay-panel z-index to ensure it's above the chart */
/* Overlay Panel Styles */
.overlay-panel {
  background-color:#a6a6a6c3; /* More opaque for visibility */
  padding: 5px;
  border-radius: 5px;
  z-index: 11; /* Very high z-index to ensure it's above everything else */
  width: 200px;
  transition: transform 0.3s ease;
  position: absolute; /* Ensure it's positioned above everything */
  top: 100px;
  left: 380px;
  font-size: 12px;
}
.event-list > * {
  margin-bottom: 20px; /* Adjust the value to control the gap between events */
}

/* Optional: Remove the last margin */
.event-list > *:last-child {
  margin-bottom: 0;
}

/* Financial chart container */
.stock-chart {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative; /* Add this to create a stacking context for z-index */
  z-index: 1; /* Lower z-index to ensure it stays behind the overlay */
}

/* Optional: For the actual chart component if needed */
.igr-financial-chart {
  z-index: 1 !important; /* Force the chart to respect a lower z-index */
}



.overlay-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse-button {
  background: none;
  border: none;
  cursor: pointer;
  padding-right: 0px;
  color: #333;
}

.collapse-button:hover {
  color: #000;
}

.overlay-panel h4 {
  margin: 0; /* Removes all margins */
  padding: 0px; /* Removes padding */
  font-size: 14px; /* Smaller header font */
}

.overlay-panel div {
  display: flex;
  align-items: center;
  margin: 0; /* Removes all margins */
  padding: 2px 0; /* Reduced padding for spacing */
}

.overlay-panel input[type="checkbox"],
.overlay-panel label {
  margin: 0; /* Removes all margins */
}

.overlay-panel label {
  margin-left: 3px; /* Space between checkbox and label */
  font-size: 12px; /* Smaller label font */
}

select {
  font-size: 12px; /* Smaller dropdown font */
  padding: 5px; /* Smaller padding for the dropdown */
  width: 100%; /* Ensures it doesn't overflow */
}

  
  /* Card button styles */
  button {
    padding: 10px 10px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    color: #fff;
  }
  
  .purchase-button {
    background-color: #38b000;
  }
  
  .stake-button {
    background-color: #555555;
  }
  
  /* Featured card styling */
  .featured-card {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .featured-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .featured-card p {
    color: #b3b3b3;
  }
  
  .featured-card a {
    color: #38b000;
  }
  .container {
    height: 100%;
    width: 100%
  }
  /* Centered search bar */
.searchbar-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the search bar */
    z-index: 7000; /* Ensure it appears above all content */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.5s ease, transform 0.5s ease; /* Smooth transition when moving to the top */
}

/* Search bar when moved to the top quarter of the screen */
.searchbar-at-top {
    top: 5%; /* Move to the top quarter of the screen */
    transform: translate(-50%, 0); /* No need for vertical centering */
}

/* The search bar styling */
.searchbar {
    padding: 12px;
    font-size: 16px;
    width: 600px;
    border-radius: 12px;
    height: 60px;
    border: 1px solid #ccc;
    background-color: #2b2b2b;
    color: white;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Add some shadow for depth */
}

/* Trade container close button */
.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
}

.close-button:hover {
}


/* Focus effect */
.searchbar:focus {
    border-color: #4f83ff;
    background-color: #333;
}

.trade-container {
  position: fixed; /* Changed from absolute to fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100; /* Ensure it's above other elements */
  background-color: #212121;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  height: 225px;
}


.date-Front-button {
  padding: 15px;
  background-color: #56e39f; /* Green button */
  color: white;
  font-size: 18px;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s ease;
}
.date-button {
  padding: 5px;
  background-color: #56e39f; /* Green button */
  color: white;
  font-size: 18px;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s ease;
 
}

.date-select-button {
  padding: 15px;
  background-color: #3fab77; /* Green button */
  color: white;
  font-size: 18px;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s ease;
}

.date-button-group {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  z-index: 10;
  position: absolute;
  top: 50px;
  left: 380px;
}

.event-item {
  flex: 1 1 calc(33.333% - 20px); /* Each item takes up one-third of the width, minus the gap */
  box-sizing: border-box;         /* Ensures padding/margins are included in width */
  min-width: 300px;  
  display: flex;
  flex-wrap: wrap;       /* Allows the items to wrap if they exceed the container width */
  gap: 20px;              /* Minimum width to ensure proper layout at smaller screen sizes */
}

.event-list
{
  position: absolute;
  top: 150px;
  left: 510px;
  z-index: 600;
}
.date-button-group button {
  margin: 0;
  padding: 5px 5px;
  border-left: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  flex: 1;
}

.date-button-group button:first-child {
  border-left: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.date-button-group button:last-child {
  border-radius: 0 5px 5px 0;
}

.date-button-group button:not(:first-child) {
  margin-left: -1px;
}
.search-container {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 7000;
}
.date-button-group button:hover {
  background-color: #45d086;
}

.date-button-group button:active {
  background-color: #3ab65b;
}

.date-Back-button {
  padding: 15px;
  background-color: #56e39f; /* Green button */
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 0px 10px 10px 0px; /* Rounded corners for the button */
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s ease;
}

.buy-button {
    padding: 15px;
    background-color: #56e39f; /* Green button */
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px; /* Rounded corners for the button */
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s ease;
}

/* Green fade effect */
.fade-green {
    background-color: #56e39f;
}

/* Red fade effect */
.fade-red {
    background-color: #e35656;
}

.nothing-button {
    padding: 15px;
    background-color: #56e39f; /* Green button */
    color: white;
    font-size: 18px;
    position: absolute;
    bottom: 25px;
    right: 20px;
    border: none;
    border-radius: 10px; /* Rounded corners for the button */
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s ease;

    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #333;
    color: white;
    outline: none;
    transition: border-color 0.3s ease;

}
.sell-button {
    padding: 15px;
    background-color: #e35656; /* Green button */
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px; /* Rounded corners for the button */
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s ease;
}
.trade-color-button {
  position: relative;
  background-color: #56e39f; /* Green button */
  color: white;
  border-radius: 10px; /* Rounded corners for the button */
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s ease;
  height: 30px;
  width: 300px;
  top: 2px;
  left: 20%;
  text-align: center;
  
  h3 {
    margin: 0;
    padding: 0;
  }
}

.trade-no-color-button {
  position: relative;
  background-color: #464646; /* Green button */
  color: white;
  border-radius: 10px; /* Rounded corners for the button */
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s ease;
  height: 30px;
  width: 300px;
  top: 2px;
  left: 20%;
  text-align: center;
  
  h3 {
    margin: 0;
    padding: 0;
  }
}

.trade-button {
    position: absolute;
    bottom: 20px;
    right: 35px;
    padding: 15px;
    background-color: #56e39f; /* Green button */
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px; /* Rounded corners for the button */
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s ease;
    height: 60px;
    width: 270px;
    text-align: center;
}

/* Hover effect for the button */
.trade-button:hover {
    background-color: #45d086; /* Darker green on hover */
    transform: scale(1.05); /* Slight scale-up effect */
}

.stock-chart {
    flex: 1; /* Take full height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the chart fills the container */
    width: 100%;
}

/* Ensure the chart itself takes up all available space */
.igr-financial-chart {
    width: 100% !important;
    height: 100% !important;
}

/* Hover effect */
.searchbar:hover {
    border-color: #777;
}

/* Make the rest of the page content blur smoothly */
.app {
    transition: filter 0.3s ease;
}

  
  
